<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>
<div>
    <span th:if="${error}" th:text="${error}"></span>
    <form th:object="${user}" th:action="@{/registration}" method="post">
        <div class="form-group">
            <label for="displayName" class="control-label">Username:</label>
            <input type="text" class="form-control" id="displayName" th:field="${user.displayName}" placeholder="Введіть username">

            <label for="username" class="control-label">Username:</label>
            <input type="text" class="form-control" id="username" th:field="${user.username}" placeholder="Введіть username">

            <label for="password" class="control-label">Password:</label>
            <input type="password" class="form-control" id="password" th:field="${user.password}" placeholder="Введіть пароль"/>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-secondary rounded-pill">Зареєструватися</button>
        </div>
    </form>
</div>
</body>
</html>
