<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>
<body>
    <h1>Product Details</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Seller</th>
            <th>Quantity Available</th>
            <th>Price per Unit</th>
        </tr>
        <tr>
            <td>${product.id}</td>
            <td>${product.name}</td>
            <td>${product.seller}</td>
            <td>${product.quantity}</td>
            <td>${product.price}</td>
        </tr>
    </table>
    <div class="imgbox">
        <div class="curimg">
            <img src="pics/1.jpg" alt="" class="imgslide">
        </div>
        <div class="buttons">
            <button onclick="prev()">❮</button>
            <button onclick="next()">❯</button>
        </div>
    </div>
    <script>
        var imageFolder = 'pics/';
        var imageList = ['1.jpg', '2.jpg', '3.jpg'];
        var imgslide = document.querySelector('.imgslide');
        var i = 0;

        document.querySelector('.imgslide').src = imageFolder + imageList[i];

        function prev() {
            if (i <= 0) {
                i = imageList.length;
            }
            i--;
            return setImg();
        }

        function next() {
            if (i >= imageList.length - 1) {
                i = -1;
            }
            i++;
            return setImg();
        }

        function setImg() {
            return imgslide.setAttribute('src', imageFolder + imageList[i]);
        }
    </script>
</body>
</html>
